body,
html {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box !important;
}

.sidebar-link-active {
	background-color: #9060EB;
}

/**
	For input errors
*/
.fBnqFF {
	font-size: 12px !important;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

i {
	font-size: 24px;
	width: auto;
}

input {
	box-shadow: none !important;
}

input:disabled {
	border: dashed 1px rgba(0, 0, 0, 0.33) !important;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 500;
	opacity: 1;
	cursor: not-allowed;
}


.ijJJkS {
	border-bottom: solid 1px #9060EB !important;
}

[type="text"]:focus {
	border-bottom-color: #9060EB !important;
}

.fwQhAZ {
	color: white !important;
}

/* .jqGCfM .gZSidW {
	border-bottom: none;
} */

.fvdSSs {
	z-index: 1000 !important;
}


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/*#region Table Styles*/

/* Define the hover highlight color for the table row */

.hoverTable tr:hover {
	background: #cccccc radial-gradient(circle, transparent 1%, #dddddd 1%) center/15000%;
	cursor: pointer;
  }

  .hoverTable tr:active {
	background-color: #dddddd;
	background-size: 10%;
	transition: background 0s;
  }
/*#endregion*/