body,
html {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box !important;
}

.sidebar-link-active {
	background-color: #B2CD25;
}

/**
	For input errors
*/
.fBnqFF {
	font-size: 12px !important;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

i {
	font-size: 24px;
	width: 0;
}

input:focus {
	outline: none;
}

input:disabled {
	border: dashed 1px rgba(0, 0, 0, 0.33) !important;
	color: rgba(0, 0, 0, 1);
	cursor: not-allowed;
}

.fvdSSs {
	z-index: 1000 !important;
}


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}