body,
html {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box !important;
}

.sidebar-link-active {
	background-color: #B2CD25;
}

a {
	text-decoration: none;
}

i {
	font-size: 24px;
}

input:focus {
	outline: none;
}


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}